.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
}

.header,
.footer,
.main {
  display: flex;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.header,
.footer {
  background-color: #616161;
  padding: 1em;
}

.header {
  color: white;
  font-family: cursive, serif;
  font-size: 1.25em;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.header a:hover {
  color: #ffa72b;
}

.totalPoemCountText {
  font-size: 0.67em;
}

.main {
  flex-grow: 1;
  flex-direction: column;
}

.footer {
  margin-top: 10em;
  font-size: 0.5em;
  color: white;
}
